# DATA FOLDERS
GENOMES/
INPUT/
RESULTS/
BK/
INPUT/datasets/*

# GENERATED SCRIPTS
bin/data_validation_analysis.py
bin/stereopy_annotation_analysis.py
bin/stereopy_ultimate_analysis.py

# GUI
poly_app

# R
.Rhistory
*.RData
*.Rds
.Rproj.user/

# PYTHON EXTENSIONS
__pycache__/
*.py[cod]
*$py.class
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.tox/
.nox/
.coverage
.hypothesis/
.pytest_cache/

# BASH
*.swp
*.bak
*.tmp

# IDEs
.idea/
.vscode/

# Logs
*.log

# SQLite
*.sqlite3
